body{

    background-color: #3B3B3B;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;

}

.container{

    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #616161;
    color: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281);
    
}

.container > button{

    background-color: #E0E0E0;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;


}

h1 {

    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.500);

}

h2.resH2 {

    margin-top: 0px;

}

.score{

    display: flex;
    justify-content: space-evenly;
    height: 120px;
        
}

.playerScore, .computerScore {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;

}

h3.computerPoints, h3.playerPoints{

    font-size: 15px;

}

div#signPlayer, div#signComputer{

    width: 100px;
    height: 100px;
    font-size: 50px;

}

div#picks {

    display: flex;
    justify-content: space-between;
    gap: 10px;


}

button.picks{
    
    padding: 15px;
    background-color: #3B3B3B;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}

button.picks:hover{
    
    background-color: #e0e0e021;
    scale: 1.05;

}

footer{

    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    color: #fff;

}

a.gitHubLink, a.gitHubLink:visited{

    text-decoration: none;
    color: white;

}

.fa-github {

    color: white;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    
}
  
.fa-github:hover {

    transform: scale(1.2);
    box-shadow: 0 0 0.5rem #ffffff7a;
    border-radius: 15px;

}